body * {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/*
Add some style blocks below this line to style the cards.
Feel free to borrow from Exercise 1.
*/

main {
  display: flex;
  flex-wrap: wrap;
}

div {
  display: inline-block;
  width: calc(24vw);
  padding: 5px;
}

section {  
  border: 1px solid black;  
}

section h2, section p, section button {
  margin: 10px;
}

img {
  width: 100%;
}

/* Tablet Media Query */
@media only screen and (max-width: 1000px) {
  div {
    width: 47vw;
  }
}

/* Mobile Phone Media Query */
@media only screen and (max-width: 600px) {
  div {
    width: 100vw;
  }
    
}